---
import Layout from "@layouts/Layout.astro";
import ContentLayout from "@layouts/ContentLayout.astro";
import ContactForm from "@components/organisms/ContactForm";

const contactText = `
もしご意見ご要望等ありましたら
下記フォーム(通称：夢の世界への手紙)へ
神秘のお言葉を記載しご送付いただければと思います`;

const formFields = [
  { title: "名前", type: "text" },
  { title: "メール", type: "email" },
  { title: "内容", type: "text" },
];
---

<Layout title="お問い合わせ">
  <main
    class="w-[60vw] mx-auto mt-[clamp(5px,3dvh,40px)] pb-[20dvh] space-y-40"
  >
    <ContentLayout contentTitle="お問い合わせ">
      <ContactForm formFields={formFields} contactText={contactText} submitText="送信"/>
    </ContentLayout>
  </main>
</Layout>
