---
import Layout from "@layouts/Layout.astro";
import ContentLayout from "@layouts/ContentLayout.astro";
import ContactForm from "@components/organisms/ContactForm";

const contactText = `
If you have any thoughts, requests, or ideas
please send them through the form below (a.k.a. 'A Letter to the Dream World')
Simply write your mystical words and send them my way.`;

const formFields = [
  { title: "name", type: "text" },
  { title: "mail", type: "email" },
  { title: "message", type: "text" },
]
---


<Layout title="CONTACT">
  <main
    class="w-[60vw] mx-auto mt-[clamp(5px,3dvh,40px)] pb-[20dvh] space-y-40"
  >
    <ContentLayout contentTitle="contents">
      <ContactForm formFields={formFields} contactText={contactText} submitText="send"/>
    </ContentLayout>
  </main>
</Layout>
