---
import Layout from "@layouts/Layout.astro";
import ContentLayout from "@layouts/ContentLayout.astro";
---

<Layout title="NOTICE">
  <main
    class="w-[60vw] mx-auto mt-[clamp(5px,3dvh,40px)] pb-[20dvh] space-y-40"
  >
    <ContentLayout contentTitle="notice">
      <div class="m-20">
        <ul style="list-style: disc;">
          <li>2025/8/9 - Site launch</li>
        </ul>
      </div>
    </ContentLayout>
  </main>
</Layout>
