---
import { Image } from "astro:assets";
const { contentImg, title, overview } = Astro.props;
---

<div class="relative w-[clamp(250px,20vw,500px)]">
  <div class="relative space-y-5">
    <div>{title}</div>
    <div>
      <a href="https://habicute-react.vercel.app/login"
        ><Image src={contentImg} alt="portfolio content image01" /></a
      >
    </div>
  </div>
  <div class="relative mt-10">
    {overview}
  </div>
</div>
